<!-- app/views/welcome_mailer/welcome_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Freight Wise</h1>
  <p>Olá <%= @user.email %>,</p>
  <p>Estamos felizes em tê-lo(a) conosco.</p>
</body>
</html>